body {
    --primarytext: #ecf9fb;
    --backroundcolor: #16181c;
    --third: #434956;
    --third-hover: #393e49;
    --fourth: #5f6a7a;
    --accent: #17b85a;
}

.select2-container {
    min-height: 50px !important;
    height: auto !important;
    position: relative;
    bottom: 0;
}

.select2 {
    width: 100% !important;
}

.select2-selection {
    width: 100% !important;
    min-height: 45px !important;
    color: var(--third) !important;
    background-color: var(--third) !important;
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
    border-top-right-radius: 15px !important;
    border-top-left-radius: 15px !important;
    border: transparent !important;

    &[aria-expanded="true"] {
        border-bottom-left-radius: 0px !important;
        border-bottom-right-radius: 0px !important;
        border-top-right-radius: 15px !important;
        border-top-left-radius: 15px !important;
    }
}

.select2-selection__rendered {
    color: var(--accent) !important;  
    padding-top: 5px !important;
    text-align: center !important;

    font-size: 35px !important;
    height: 45px !important;
}

.select2-dropdown--below, .select2-results {
    border: transparent !important;
}

.select2-search__field {
    color: var(--backroundcolor) !important;
    border: transparent !important;
    caret-color: transparent;
    box-sizing: initial !important;
    padding-bottom: 10px !important;
}

.select2-selection__choice__remove {
    color: var(--accent) !important;
    background-color: var(--backroundcolor) !important;
    border: transparent !important;
}

.select2-selection__choice {
    font-size: 25px !important;
    color: var(--primarytext) !important;
    background-color: var(--backroundcolor) !important;
    border: transparent !important;
    border-radius: 10px !important;
}

.select2-selection__choice__display {
    color: var(--accent) !important;
    border-radius: 10px !important;
    padding-left: 10px !important;
}

.select2-results__option--selected {
    background-color: var(--fourth) !important;
}

.select2-results__options {
    font: bold;
    font-size: 25px;
    background-color: var(--third);
    color: var(--primarytext) !important;
}

.select2-results__option--highlighted {
    color: var(--primarytext) !important;
    background-color: var(--third-hover) !important;
}

.select2-results__options {
    scrollbar-width: thin !important;
    scrollbar-color: var(--backroundcolor) var(--third) !important;
    border-color: transparent !important;
}

.select2-results__options::-webkit-scrollbar {
    width: 12px;
    border-color: transparent;
}

.select2-results__options::-webkit-scrollbar-track {
    background: var(--third);
    border-color: transparent;
}

.select2-results__options::-webkit-scrollbar-thumb {
    background-color: var(--backroundcolor);
    border-radius: 20px;
    border-color: transparent;
}

.select2-search, select2-search--dropdown {
    color: var(--primarytext) !important;
    caret-color: transparent;
    background-color: var(--fourth) !important;
}

.select2-search__field {
    color: var(--accent) !important;
    font-size: 20px !important;
    caret-color: var(--accent) !important;
    background-color: transparent !important;
}

.select2-selection__arrow {
    padding-top: 15% !important;

}